body{font-family:Arial;margin:20px;}
h1{text-align:center;color:green;}
.grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:10px;
}
label{font-weight:bold;}
input,select{width:100%;padding:5px;}
table{width:100%;border-collapse:collapse;margin-top:10px;}
th,td{border:1px solid #000;padding:4px;text-align:center;}
