body{margin:0;font-family:Arial;}
.center{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}
.login{
  background:#fff;
  padding:20px;
  box-shadow:0 0 10px #000;
}
input,button{
  width:100%;
  margin:6px 0;
  padding:6px;
}
.sidebar{
  width:200px;
  background:#2f7d32;
  color:#fff;
  height:100vh;
  position:fixed;
}
.sidebar li{
  list-style:none;
  padding:15px;
  cursor:pointer;
}
.sidebar li:hover{
  background:#1b5e20;
}
.content{
  margin-left:200px;
  padding:20px;
}
.section{display:none;}
.section.active{display:block;}
